@media (max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.titled {
  font-family: "Merriweather", serif !important;
  font-size: 58px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.subtitled {
  font-family: "Merriweather", serif !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}
#colored-dna-back {
  background: url("http://www.yardbarker.com/media/d/9/d9e35e1fba3d317eb7a4c3bb926a029c79dcd2e9/thumb_16x9/michael-jordan-career-retrospective.jpg");
  background-position: center;
  background-size: cover;
  background-color: #212931;
}
